 <footer>
        
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Select the city </h3><br>

    <div class="col-sm-4">
      <a href='/hyderabad'>HYDERABAD</a>
      
    </div>
    <div class="col-sm-4"> 
      <a href='/delhi'>DELHI</a>
      
    </div>
 
       <div class="col-sm-4"> 
      <a href='/mumbai'>MUMBAI</a>
      </div>
    
    <div class="col-sm-4"> 
      <a href='/bnglr'>BENGALURU</a>
     
    </div>
       <div class="col-sm-4"> 
      <a href='/kolkata'>KOLKATA</a>
     
    </div>
       <div class="col-sm-4"> 
      <a href='/pune'>PUNE</a>
     
    </div>
       <div class="col-sm-4"> 
      <a href='/ahmedabad'>AHMEDABAD</a>
     
    </div>
     
       <div class="col-sm-4"> 
      <a href='/chandigarh'>CHANDIGARH</a>
     
    </div>   
    
    <div class="col-sm-4"> 
      <a href='/surat'>SURAT</a>
     
    </div>
    
    <div class="col-sm-4"></div>
    
    <div class="col-sm-4">
        <a href='/'><H5>HOME PAGE</H5></a>
    </div>

</div>
     <div class="row">
         <div class="col-md-9"></div>
         <div class="col-md-3">
     <p >Created by-Ranjan copyright</p>
         </div>
     </div>
    </footer>   