<header style="bg-color:grey">
    
    
    
      <div class="container-fluid text-center bg-2">
    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" >
        <div class="item active">
          <h4>Wherever you go, no matter what the weather, always bring your own sunshine.</h4>
        </div>
        <div class="item">
          <h4> I love the rain. It's my favorite weather.</h4>
        </div>
        <div class="item">
          <h4> If you want to see the sunshine, you have to weather the storm.</h4>
        </div>
          <div class="item">
          <h4> There is no such thing as bad weather, only different kinds of good weather.</h4>
        </div><div class="item">
          <h4> One can't predict the weather more than a few days in advance.</h4>
        </div>
      </div><a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>      </div>
  </div>
    
    
    
    
<br><br>



</header>
