<header style="bg-color:grey">
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Select the city </h3><br>

    <div class="col-sm-4">
      <a href='/hyderabad'>HYDERABAD</a>
      <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <a href='/delhi'>DELHI</a>
      <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>
 
       <div class="col-sm-4"> 
      <a href='/mumbai'>MUMBAI</a>
      <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
    </div>

</div>



</header>
